
<ion-content class="background">
</ion-content>


<ion-tabs >
  <ion-tab-bar slot="bottom" class = "tab-style">
    <ion-tab-button tab="dashboard">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label style="font-size: 12px;">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sleep">
      <ion-icon name="body"></ion-icon>
      <ion-label style="font-size: 12px;">Overnight</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sleepiness">
      <ion-icon name="book"></ion-icon>
      <ion-label style="font-size: 12px;">Sleepiness</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>


